/* Variables */
:root {
  /* colors */
  --primary-100: #d3d7d9;
  --primary-200: #a7afb4;
  --primary-300: #7a888e;
  --primary-400: #4e6069;
  --primary-500: #223843; /* primary color */
  --primary-600: #1b2d36;
  --primary-700: #142228;
  --primary-800: #0e161b;
  --primary-900: #070b0d;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;

  /* Other Colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* Named Colors */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);

  /* fonts */
  --headingFont: 'Roboto', sans-serif;
  --bodyFont: 'Roboto', sans-serif;
  --smallText: 0.8em;

  /* General Formatting */
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition-slow: 0.3s ease-in-out all;
  --transition-fast: 0.05s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;

  /* Box Shadow */
  --shadow-1: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-2: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-3: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-4: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --shadow-5: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}
